{% extends "layout.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
{% endblock %}

{% block title %}
PhotoYo - Gallery
{% endblock %}


{% block content %}

<div class="gallery-grid">
    {% for image in images %}
    <div class="gallery-item">
        <img src="{{ url_for('static', filename='uploads/' + image) }}" />
    </div>
    {% endfor %}
</div>

<div class="full-size-photo">
    <span>&times;</span>
    <img src="{{ url_for('static', filename='uploads/' + images[0]) if images else '' }}" />
</div>


{% endblock %}
